# Python / Django
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/**/**/__pycache__/
*.pyc
*.pyo
backend/db.sqlite3
backend/media/

# Node / React
frontend/node_modules/
frontend/dist/
frontend/.env.local

# Logs
*.log
backend/django_out.log
frontend/react_out.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
